@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/variables-dark";

$amethyst: #743495 !default;
$blue-chill: #0a5f65 !default;
$purple-heart: #5c31b3 !default;
$scarlet-gum: #683792 !default;

$purple-heart-50: #f5f4fe !default;
$purple-heart-100: #edebfc !default;
$purple-heart-200: #dddafa !default;
$purple-heart-300: #c4bbf7 !default;
$purple-heart-400: #a795f0 !default;
$purple-heart-500: #896ae8 !default;
$purple-heart-600: #774add !default;
$purple-heart-700: #6838c9 !default;
$purple-heart-800: #5c31b3 !default;
$purple-heart-900: #48288a !default;
$purple-heart-950: #3e185d !default;

$scarlet-gum-50: #faf7fd !default;
$scarlet-gum-100: #f3ecfb !default;
$scarlet-gum-200: #e9dcf8 !default;
$scarlet-gum-300: #d8c0f2 !default;
$scarlet-gum-400: #bf97e9 !default;
$scarlet-gum-500: #a66fdd !default;
$scarlet-gum-600: #9150cd !default;
$scarlet-gum-700: #7b3eb2 !default;
$scarlet-gum-800: #683792 !default;
$scarlet-gum-900: #552d76 !default;
$scarlet-gum-950: #3e185d !default;

$amethyst-50: #fbf6fe !default;
$amethyst-100: #f5ebfc !default;
$amethyst-200: #ecdbf9 !default;
$amethyst-300: #debef4 !default;
$amethyst-400: #ca94ec !default;
$amethyst-500: #ac59dd !default;
$amethyst-600: #a14cd1 !default;
$amethyst-700: #8a3ab6 !default;
$amethyst-800: #743495 !default;
$amethyst-900: #5f2b78 !default;
$amethyst-950: #411457 !default;

$blue-chill-50: #effefd !default;
$blue-chill-100: #c7fffb !default;
$blue-chill-200: #90fff7 !default;
$blue-chill-300: #51f7f2 !default;
$blue-chill-400: #1de4e4 !default;
$blue-chill-500: #04c5c8 !default;
$blue-chill-600: #00999f !default;
$blue-chill-700: #057a80 !default;
$blue-chill-800: #0a5f65 !default;
$blue-chill-900: #0d5054 !default;
$blue-chill-950: #002e33 !default;

$blue-chills: (
  "blue-chill-50": $blue-chill-50,
  "blue-chill-100": $blue-chill-100,
  "blue-chill-200": $blue-chill-200,
  "blue-chill-300": $blue-chill-300,
  "blue-chill-400": $blue-chill-400,
  "blue-chill-500": $blue-chill-500,
  "blue-chill-600": $blue-chill-600,
  "blue-chill-700": $blue-chill-700,
  "blue-chill-800": $blue-chill-800,
  "blue-chill-900": $blue-chill-900,
  "blue-chill-950": $blue-chill-950,
) !default;

$amethysts: (
  "amethyst-50": $amethyst-50,
  "amethyst-100": $amethyst-100,
  "amethyst-200": $amethyst-200,
  "amethyst-300": $amethyst-300,
  "amethyst-400": $amethyst-400,
  "amethyst-500": $amethyst-500,
  "amethyst-600": $amethyst-600,
  "amethyst-700": $amethyst-700,
  "amethyst-800": $amethyst-800,
  "amethyst-900": $amethyst-900,
  "amethyst-950": $amethyst-950,
) !default;

$purple-hearts: (
  "purple-heart-50": $purple-heart-50,
  "purple-heart-100": $purple-heart-100,
  "purple-heart-200": $purple-heart-200,
  "purple-heart-300": $purple-heart-300,
  "purple-heart-400": $purple-heart-400,
  "purple-heart-500": $purple-heart-500,
  "purple-heart-600": $purple-heart-600,
  "purple-heart-700": $purple-heart-700,
  "purple-heart-800": $purple-heart-800,
  "purple-heart-900": $purple-heart-900,
  "purple-heart-950": $purple-heart-950,
) !default;

$scarlet-gums: (
  "scarlet-gum-50": $scarlet-gum-50,
  "scarlet-gum-100": $scarlet-gum-100,
  "scarlet-gum-200": $scarlet-gum-200,
  "scarlet-gum-300": $scarlet-gum-300,
  "scarlet-gum-400": $scarlet-gum-400,
  "scarlet-gum-500": $scarlet-gum-500,
  "scarlet-gum-600": $scarlet-gum-600,
  "scarlet-gum-700": $scarlet-gum-700,
  "scarlet-gum-800": $scarlet-gum-800,
  "scarlet-gum-900": $scarlet-gum-900,
  "scarlet-gum-950": $scarlet-gum-950,
) !default;

$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "black": $black,
  "white": $white,
  "gray": $gray-600,
  "gray-dark": $gray-800,
  "amethyst": $amethyst,
  "amethyst-light": $amethyst-600,
  "amethyst-dark": $amethyst-800,
  "blue-chill": $blue-chill,
  "blue-chill-light": $blue-chill-600,
  "blue-chill-dark": $blue-chill-800,
  "purple-heart": $purple-heart,
  "purple-heart-light": $purple-heart-600,
  "purple-heart-dark": $purple-heart-800,
  "scarlet-gum": $scarlet-gum,
  "scarlet-gum-light": $scarlet-gum-600,
  "scarlet-gum-dark": $scarlet-gum-800,
) !default;

$all-colors: map-merge-multiple(
  $blues,
  $indigos,
  $purples,
  $pinks,
  $reds,
  $oranges,
  $yellows,
  $greens,
  $teals,
  $cyans,
  $amethysts,
  $blue-chills,
  $scarlet-gums,
  $purple-hearts
) !default;

$custom-colors: (
  "blue-chill": $blue-chill,
  "blue-chill-light": $blue-chill-600,
  "blue-chill-dark": $blue-chill-800,
  "amethyst": $amethyst,
  "amethyst-light": $amethyst-600,
  "amethyst-dark": $amethyst-800,
  "purple-heart": $purple-heart,
  "purple-heart-light": $purple-heart-600,
  "purple-heart-dark": $amethyst-800,
) !default;

$theme-colors: map-merge($theme-colors, $custom-colors);
